body {
	position: relative;
	min-width: 320px;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0;
	background-color: #efebe9;
	color: #3e2723;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

ul,
li {
	font-size: 0.8rem;
}

a {
	color: #00695c;
	text-decoration: none;
	&:hover,
	&:focus {
		color: #fff;
		background-color: #00695c;
		text-decoration: none;
	}
	img {
		border: none;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

.header-main,
.header-restaurant {
	background-color: #4e342e;
	color: #fff;
}

.header-main {
	padding: 20px 0;
}

.header-restaurant {
	padding: 20px 0 10px;
}

#maincontent {
	min-height: 100%;
	background-color: #d7ccc8;
}

a.skip {
	position: absolute;
	top: -1000px;
	left: -1000px;
	height: 1px;
	width: 1px;
	text-align: left;
	overflow: hidden;
	&:hover,
	&:active,
	&:focus {
		left: 0;
		top: 0;
		width: auto;
		height: auto;
		overflow: visible;
	}
}

body:not(.show-focus-outlines) [tabindex]:focus {
	outline: none;
}

/* ====================== Sections ====================== */

.header-main,
.header-restaurant,
nav,
nav h1,
.filter-options,
#map-container,
#maincontent,
#footer,
#breadcrumb {
	position: relative;
	float: left;
	max-width: 100%;
	width: 100%;
}

/* ====================== Navigation ====================== */

nav {
	text-align: center;
	h1 {
		margin: 0 auto;
		&:hover,
		&:hover a,
		&:focus,
		&:focus a {
			background-color: #efebe9;
			color: #3e2723;
		}
		a {
			font-family: 'Allura', cursive;
			font-size: 3rem;
			font-weight: 400;
			letter-spacing: 5px;
			text-decoration: none;
			line-height: 1;
			color: #fff;
			&:hover,
			&:focus {
				background-color: #efebe9;
				color: #3e2723;
				text-decoration: none;
			}
		}
	}
}

.header-main nav {
	min-height: 170px;
	h1 {
		padding: 20px 0;
	}
}

.header-restaurant nav {
	min-height: 60px;
	h1 {
		padding: 10px 0;
	}
}

/* ====================== Map ====================== */

#map {
	display: flex;
	float: left;
	height: 300px;
	width: 90%;
	margin: 10px 5%;
	justify-content: center;
	align-items: center;

	span {
		padding: 30px;
		cursor: pointer;

		&:hover,
		&:focus {
			background-color: #efebe9;
			color: #3e2723;
			text-decoration: none;
		}
	}
}

/* ====================== Footer ====================== */

#footer {
	padding: 25px 0;
	background-color: #4e342e;
	color: #fff;
	font-size: 0.6rem;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
	a {
		color: #4db6ac;
		&:hover,
		&:focus {
			color: #fff;
			background-color: #00695c;
			text-decoration: none;
		}
	}
}