/* ====================== Breadcrumb ====================== */

#breadcrumb {
	margin: 10px 0 0;
	padding: 7px 0 8px 0;
	list-style: none;
	background-color: #d7ccc8;
	color: #3e2723;
	li {
		display: inline;
		&:first-of-type {
			margin-left: 20px;
		}
		&+li:before {
			padding: 8px;
			color: 3e2723;
			content: "/\00a0";
		}
	}
}

/* ====================== Restaurant Details ====================== */

#restaurant-name,
#reviews-container h3 {
	margin: 0 0 30px;
	padding: 10px;
	text-transform: uppercase;
	text-align: center;
	line-height: 1.1;
	letter-spacing: 0;
}

#restaurant-fav {
	position: absolute;
	top: -10px;
	left: calc(50% - 85px);
	border: 3px solid #00695c;
	background-color: #efebe9;
	text-align: center;
	font-size: .8rem;
	span:not(#restaurant-fav-span) {
		position: relative;
		top: -5px;
		padding: 0 10px;
	}
	#restaurant-fav-span {
		margin-bottom: 3px;
		font-size: 30px;
		line-height: 25px;
		color: #00695c;
		cursor: pointer;
	}
}

#restaurant-name {
	margin-top: 7px;
	background-color: #00695c;
	color: #fff;
	font-size: 2rem;
}

#restaurant-img .restaurant-img,
#restaurant-address,
#restaurant-hours {
	width: 90%;
	margin: 0 5%;
}

#restaurant-cuisine {
	margin: 0 0 20px;
	padding: 5px 0;
	background-color: #00695c;
	color: #fff;
	letter-spacing: 10px;
	text-align: center;
	text-transform: uppercase;
}

#restaurant-address {
	text-align: center;
}

#restaurant-rating {
	padding: 5px 10px;
	background-color: #00695c;
	color: #fff;
	text-align: center;
}

#restaurant-hours {
	margin: 20px 5% 0 5%;
	border: 3px solid #00695c;
	border-collapse: collapse;
	background-color: #efebe9;
	tr,
	td {
		border: none;
	}
	tr:nth-child(odd),
	tr:nth-child(odd) td {
		background-color: #fff;
	}
	td {
		padding: 3px 5px;
	}
}

#restaurant-container,
#reviews-container {
	margin: 0;
	padding: 15px 0 40px 0;
}

#reviews-container h3 {
	background-color: #efebe9;
	color: #00695c;
}

#reviews-list {
	margin: 0;
	padding: 0;
	li {
		position: relative;
		display: block;
		margin: 0 5% 30px;
		overflow: hidden;
		background-color: #fff;
		border: 2px solid #00695c;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
		list-style-type: none;
		p,
		div>div {
			display: inline-block;
			margin: 0;
		}
		div>div {
			position: relative;
			float: right;
		}
		&>div {
			padding: 5px 10px;
			background-color: #00695c;
			color: #fff;
			border-bottom: 1px solid #d7ccc8;
		}
		.reviewer-name {
			margin: 5px 15px;
			font-size: 1.3rem;
		}
		.reviewer-date,
		.reviewer-rating {
			display: block;
		}
		.reviewer-rating {
			float: right;
			width: 65px;
			height: 20px;
			font-size: 1rem;
		}
		.reviewer-comment {
			padding: 20px;
			&::before {
				position: relative;
				float: left;
				width: 40px;
				height: 15px;
				top: -15px;
				font-family: 'Allura', cursive;
				font-weight: 800;
				font-size: 3rem;
				color: #00695c;
				content: '‟';
			}
		}
	}
}

#review-form {
	&,
	ul,
	li,
	input,
	select,
	textarea,
	button,
	label {
		box-sizing: border-box;
		display: block;
	}
	ul {
		width: 90%;
		margin: 30px auto;
		padding: 0;
		background-color: #fff;
		border: 3px solid #00695c;
		list-style-type: none;
		li {
			position: relative;
			border-bottom: 1px solid #ccc;
			label {
				position: absolute;
				top: 10px;
				left: 10px;
				font-size: 0.6rem;
				letter-spacing: 0.03em;
				text-transform: uppercase;
			}
			input,
			select,
			textarea {
				width: 100%;
				margin: 0;
				padding: 30px 10px 10px 10px;
				border: none;
				font-size: 1rem;
				&:focus {
					background-color: #f3f3f3;
					-webkit-box-shadow: inset 0px 3px 5px -3px rgba(0, 0, 0, 0.75);
					-moz-box-shadow: inset 0px 3px 5px -3px rgba(0, 0, 0, 0.75);
					box-shadow: inset 0px 3px 5px -3px rgba(0, 0, 0, 0.75)
				}
			}
			textarea {
				height: 200px;
				resize: none;
			}
			button {
				margin: 20px auto;
				padding: 10px 20px;
				background-color: #00695c;
				color: #fff;
				border: none;
				cursor: pointer;
				text-transform: uppercase;
			}
		}
	}
}