/* ====================== Restaurant Filtering ====================== */

.filter-options {
	margin-top: 10px;
	padding: 5px 0;
	background-color: #d7ccc8;
	color: #3e2723;
	h2 {
		display: none;
		margin: 0;
		font-size: 0.8rem;
	}
	select {
		width: 140px;
		height: 30px;
		margin: 10px;
		padding: 0 5px;
		background-color: #fff;
		border: 1px solid #fff;
		font-size: 0.8rem;
	}
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 15px 15px 60px;
	list-style: outside none none;
	li {
		position: relative;
		width: 100%;
		margin: 15px;
		padding: 15px 0;
		border: 3px solid #00695c;
		background-color: #efebe9;
		h2 {
			margin: 0 0 15px;
			padding: 5px 5px 5px 10px;
			background-color: #00695c;
			color: #fff;
			font-size: 1.2rem;
			font-weight: 200;
			letter-spacing: 0;
			line-height: 1.3;
			text-transform: uppercase;
		}
		a {
			display: inline-block;
			margin: 15px 0 0 10px;
			padding: 8px 16px;
			background-color: #fff;
			color: #00695c;
			font-size: 0.8rem;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			&:hover,
			&:focus {
				background-color: #00695c;
				color: #fff;
			}
		}
	}
	p {
		margin: 0;
		font-size: 0.9rem;
	}
	.restaurant-fav {
		position: absolute;
		bottom: 8px;
    	right: 16px;
		background-color: #efebe9;
		text-align: center;
		span {
			display: block;
			margin-bottom: 3px;
			font-size: 40px;
			line-height: 45px;
			color: #00695c;
			cursor: pointer;
		}
	}
	.restaurant-img {
		display: block;
		min-width: calc(100% - 60px);
		max-width: calc(100% - 60px);
		margin: 0 30px;
		padding: 0;
	}
	.restaurant-data {
		margin: 15px 0 0 0;
		padding: 10px 0 10px 15px;
		background-color: #fff;
	}
	.restaurant-rating {
		float: right;
		margin: 23px 15px 0 0;
		width: 80px;
		height: 20px;
		font-size: 1rem;
		color: #00695c;
	}
}